#Wait-Message {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}

#Wait {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
