.Anime {
    display: flex;
    height: 90%;

    .Anime__left {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 30%;
    }

    .Anime__right {
        width: 70%;
        display: flex;
        flex-direction: column;

        .Anime__right__synopsis {
            h3 {
                font-size: 3em;
                padding: 0.2em 0;
                font-family: "Otomanopee One", sans-serif;
            }

            padding: 1em;
            font-weight: bold;
        }

        .Anime__right__collections {
            display: flex;
            justify-content: space-around;
        }

        .Anime__right__select {
            font-size: 1.5em;
            padding-top: .3em;

            h4 {
                font-family: "Otomanopee One", sans-serif;
                padding: 0 2em;
            }

            select {
                padding: 1em;
                width: 15%;
                border: none;
                border-radius: 10px;
            }

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .Anime__right__video {
            width: 100%;
            height: 70%;
            display: flex;
            justify-content: center;
            align-items: center;

            iframe {
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
                    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
                    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            }
        }
    }

    .Anime__left__title {
        font-weight: bold;
        font-family: "Otomanopee One", sans-serif;
        text-align: center;

        h2 {
            font-size: 2.5em;
            padding: 0.2em;
        }

        h3 {
            font-size: 1.5em;
            color: #93c;
            padding: 0.2em;
        }
    }

    .Anime__left__poster {
        width: 100%;
        text-align: center;

        img {
            width: 70%;
            border-radius: 10px;
            transition: 0.5s ease-in-out;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
                rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
                rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            &:hover {
                box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
                transform: scale(1.1);
            }
        }
    }

    .Anime__left__info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        div {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            text-align: center;
            width: 20%;
            padding: 1em;
            margin: 0.3em;
            font-weight: bold;
        }
    }
}
