#Navbar {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    min-height: 5%;
    padding: 1em;
    align-items: center;
    justify-content: space-around;

    .Navbar__title {
        display: flex;
        align-items: center;

        .logo {
            width: 10%;
            padding: 0 1em;
        }

        h1 {
            font-size: 2em;
            font-family: "Otomanopee One", sans-serif;
            line-height: 0.6;

            span {
                font-size: 0.6em;
                color: #93c;
            }
        }
    }

    .Navbar__navList {
        display: flex;

        li {
            margin: 0 0.5em;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .Navbar__searchInput {
        display: flex;
        align-items: center;

        input {
            border: none;
            font-size: 1.2em;
            padding: 0.4em;
            border-radius: 10px;
            margin-right: 1em;
        }
    }
}
